﻿/* add your styling here */
* {
    font-family: Verdana, sans-serif;
    /* font-family: Arial, sans-serif; */
    font-size: 14px;
}

a {
    /* https://www.w3schools.com/cssref/pr_text_letter-spacing.asp */
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
}

p {
    margin-top: 0;
    line-height: 1.6;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin: 12px auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    overflow-y: hidden;
    z-index: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img { 
    /* https://stackoverflow.com/questions/1733006/how-to-set-an-images-width-and-height-without-stretching-it */
    
    width: 100%;
    height: auto;
}

header > div {
    position: absolute;
    opacity: 0.9;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    color: white;
    display: none;
    padding: 4px;
}

header h1:first-child {
    background-color: black;
    display: block;
    padding-left: 8px;
    opacity: 0.85;
}

button {
    background-color: #f1f1f1;
    border: 0;
    width: 100%;
    padding: 8px 0;
}

button:hover { 
    background-color: #ccc;
    cursor: pointer; 
}

button:active { background-color: #a1a1a1; }

input {
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #ccc ;
}

input:focus { outline: none; }

/* https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css */
input[type=submit] {
    flex: 0;
    width: fit-content;
    padding: 12px 24px;
    background-color: black;
    color: white;
}

input[type=submit]:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

table {
    border: 1px solid #ccc;
    margin: 12px 0 60px 0;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

tr {
    border-top: 1px solid #ccc;
}

th, td { padding: 8px; }

tr:nth-child(odd) { background-color: #f1f1f1; }
tr:first-child { background-color: #fff; }


footer {
    background-color: black;
    color: white;
    padding: 20px;
}

footer * { 
    font-size: 10px;
    text-align: center; 
    margin-bottom: 0; 
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navbar {
    /* 
        Shadow outside navbar 
        https://www.w3schools.com/css/css3_shadows_box.asp
        https://stackoverflow.com/questions/9199433/how-can-i-make-box-shadow-appear-above-a-div
    */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    
    /* 
        Navbar keeps sticking in the top 
        https://www.w3schools.com/css/css_positioning.asp
    */
    position: sticky;
    top: 0;

    padding: 20px;
    max-height: 56px;
    box-sizing: border-box;
    z-index: 1;
}

.navbar-link {
    display: none;
}

.container {
    /* Permintaan soal */
    margin: 0 94px;
}

.anchors {
    height: 56px;
}

.title {
    margin-top: 24px;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: minmax(auto, 362px);
    /* grid-template-rows: minmax(auto, 242px); */
    gap: 16px;
    justify-content: center;
}

.project { 
    position: relative; 
}

.project img { 
    width: 100%; 
    height: auto;
}

.project > div {
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
}

#author-section { 
    margin-top: 60px; 
    display: grid;
    grid-template-columns: auto;
}

.authors { margin-top: 36px; }

.authors img {
    width: 100%;
    height: auto;
    filter: grayscale(75%);
}

/* small text */
.author-department {
    color: gray;
}

#location {
    margin: 60px 0;
}

#location img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .navbar-link {
        display: block;
    }

    a {
        padding: 8px;
    }

    a:hover {
        background-color: #ccc;
    }

    header {
        width: auto;
        margin: 0 94px;
    }

    header > img { 
        /* https://stackoverflow.com/questions/1733006/how-to-set-an-images-width-and-height-without-stretching-it */
        width: 100%;
        height: auto;
    }

    header h1, header h1:first-child {
        display: inline-block;
        font-weight: normal;
    }

    header h1:first-child { 
        font-weight: bold;
        padding-left: 12px; 
        padding-right: 12px; 
    }

    .grid {
        /* Kenapa tidak menggunakan columns: 362px dan rows: 242px? Karena overflow */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
        justify-content: center;
    }

    #author-section {
        margin-top: 0;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

